.container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  @media (max-width: 1800px) {
    width: 70%;
  }

  @media (max-width: 1300px) {
    width: 80%;
  }

  @media (max-width: 800px) {
    width: 90%;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}
