:root {
  --color-1: #fff;
  --color-2: #000;
  --color-3: #717171;
  --color-4: #272727;
  --error-color: brown;
  --font-family-main: 'Montserrat';
  --font-size-medium: 18px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

[data-theme="dark"] {
  --color-1: #000;
  --color-2: #fff;
  --color-3: #bbb;
  --color-4: #444;
}