.container {
  background-color: var(--color-2);
  min-height: 100vh;
  width: 100%;
  color: var(--color-1);
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
}

